%h3 Announcements

#map_all{style: 'width: 100%; height: 400px;'}

%table.table
  %thead
    %th Date
    %th Title
    %th Description
    %th Animal
    %th
  -announcements.each do |anno|
    %tbody
      %td=anno.created_at
      %td=anno.title
      %td=anno.description
      %td=anno.animal
      %td=link_to "Details", announcement_path(anno), class: "btn btn-primary btn-sm"

%br
=link_to "Add announcenemt", new_announcement_path, class: "btn btn-primary"
