%h3
  = announcement.title
  -if is_owner?(announcement)
    =link_to "Edit", edit_announcement_path(announcement), class: "btn btn-warning"
    =link_to "Delete", announcement_path(announcement), method: :delete, class: "btn btn-danger"
%h4 added by: #{announcement.user.email} on #{announcement.created_at}
%br
%p= announcement.description

=link_to "Back", announcements_path, class: "btn btn-primary"
